# Bibliotecas principais
numpy==1.26.4

streamlit
pandas
seaborn
matplotlib
networkx
pyvis
bs4

# Processamento de PDF
PyMuPDF

# Processamento de Epub
ebooklib

# Processamento de Linguagem Natural (PLN)
spacy
# Modelo spaCy em português
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0.tar.gz#egg=pt_core_news_sm

# Detecção de comunidades
python-louvain